#background{
    background-color: #f6f9fa;
    height: 700px;
    width: 1580px;
}


#motivacija_slika1{
    width: 1580px;
    height: 700px;
    
}

#naslov{
    color:rgb(8, 8, 82); 
    font-size: 80px;
}



#zaglavlje{
    background-color: #f1f1f1;
    position: absolute;
    top:600px;
    width: 1580px;
   
}








